body {
    margin:0;
    color:#52FFB8;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(../img/bg.jpg);
}


.container {
    max-width: 750px;
    margin: 50px auto;
    background: #252422;
    padding: 10px 150px 150px;
    border-radius: 30px;
    border: solid 2px;
}


header {
    padding-bottom: 30px;
    border-bottom: 2px solid grey;
}

main {
    margin-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

main input {
    font-size: 25px;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
}

button {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #52FFB8;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    border:none;
    font-weight: bold;
}

button:hover {
    background-color: #25b87a;
}

.white-text {
    color:#F4EDED;
}

.flex {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

.flex input {
    font-size: 13px;
    max-width: 120px;
    border-radius:20px;
    text-align: center;
    height: 50px;
}

#error-message1, #error-message2 {
    display: none;
    text-align: center;
    color:red;
    margin-top: 40px;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 2rem;
}


@media (max-width: 1100px) {
    .container {
        padding: 50px;
    }

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1rem;
    }

    .flex input {
        height: 40px;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    .flex input {
        height: 30px;
    }
}

@media (max-width: 300px) {
    .container {
        padding: 10px;
    }

    .flex input {
        font-size: 13px;
        max-width: 100px;
        height: 25px;
        border-radius:20px;
        text-align: center;
    }

    .flex {
        justify-content: center;
        align-items: center;;
    }
    button {
        padding: 5px 5px;
        margin: 5px;
    }
}