body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/bg.jpg");
    background-size: cover;
}

.container {
    max-width: 1000px;
    margin-top: 100px;
    text-align: center;
}

header {
    background: linear-gradient(33deg, rgba(2,148,213,1) 11%, rgba(9,9,121,1) 49%, rgba(2,157,219,1) 95%, rgba(0,212,255,1) 100%);
    margin:0;
    padding: 50px 80px 25px;
    border-radius: 50px 50px 0 0;
}

header h1 {
    margin-top: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff
}
header p {
    font-size: 100px;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}

main {
    background-color:#1e1e20;
    margin-top:0px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    padding:  40px 100px;
    border-radius: 0px 0px 50px 50px;
}

main h2 {
    margin: 0;
}

main p {
    margin: 10px 0 50px 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#numberInput {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    width: 150px;
    height: 90px;
    background-color: #1e1e20;
    border: 2px solid white;
    border-radius: 20px;
    color:#fff;
}

button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    border:none;
    border-radius: 20px;
    z-index: 2;
}

button:hover {
    background-color: #d1e2e3;
}